/* Author: Niwarinda James
   Freelance Name: Developer Nj
   For: Coursera Module assignment */
   
/* Getting rid of the default browser border styles */   
body {
    box-sizing: border-box;
}

.heading {
    text-align: center;
    font-size: 2em;
    color: darkolivegreen;
}

.coloring {
    background-color: gray;
}

#resized {
    font-size: 30px;
}







